# Ignore everything
*

# Don't ignore directories
!*/

# Only allow the following
!.tex
!.md
!.code-workspace
!.pws
!.yml
!.yaml
!*.html
!*.css
!*.js
!*.mjs
!*.json
!*.ftl
!*.svg
!*.png
!*.gif
!*.pfb
!*.ttf
!*.bcmap
