# Ignore everything
*

# Don't ignore directories
!*/

# Only allow the following
!*.code-workspace
!*.tex
!*.yaml
!*.yml
!cspell.json
!README.md

# Allow public assets
!public/index.html
!public/pdfjs/**