name: CI/CD

on:
    push:
        branches: ["**"]
        paths: ["**.tex", ".github/workflows/**"]
    release:
        types: [released]
    workflow_dispatch:

concurrency:
    group: ${{ github.workflow }}-${{ github.ref }}
    cancel-in-progress: true

permissions:
    contents: read
    pages: write
    id-token: write

env:
    # If you want to move away from secrets, replace this with your actual filename
    RESUME_FILE_NAME: Jason_Swindle_Resume.pdf

jobs:
    build:
        runs-on: ubuntu-latest
        timeout-minutes: 15
        steps:
            - name: Set up Git repository
              uses: actions/checkout@v4

            - name: Compile LaTeX document
              uses: xu-cheng/latex-action@v3
              with:
                  working_directory: latex
                  root_file: resume.tex

            - name: Optimize PDF
              uses: jy95/ghostscript-action@v1
              with:
                  file: latex/resume.pdf
                  output: "public/${{ env.RESUME_FILE_NAME }}"
                  arbitrary-parameters: -dCompatibilityLevel=1.4 -dPDFSETTINGS=/ebook -dFastWebView=true

            - name: Confirm PDF is there
              run: test -f "public/${{ env.RESUME_FILE_NAME }}"

            # Always upload the PDF as an artifact for inspection
            - name: Upload Resume artifact
              uses: actions/upload-artifact@v4
              with:
                  name: Resume
                  path: public/
                  retention-days: 5

            # Only upload for Pages if it's a release
            - name: Upload Pages artifact
              if: github.event_name == 'release'
              uses: actions/upload-pages-artifact@v3
              with:
                  path: public

    deploy:
        needs: build
        if: github.event_name == 'release'
        runs-on: ubuntu-latest
        environment:
            name: github-pages
            url: ${{ steps.deployment.outputs.page_url }}
        steps:
            - name: Deploy to GitHub Pages
              id: deployment
              uses: actions/deploy-pages@v4
