name: Compile PDF from LaTeX on PUSH of any TEX file
on:
  push:
    paths:
      - "**.tex"

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

jobs:
  build_latex:
    runs-on: ubuntu-latest
    steps:
      - name: Set up Git repository
        uses: actions/checkout@v4

      - name: Compile LaTeX document
        uses: xu-cheng/latex-action@v3
        with:
          working_directory: latex
          root_file: resume.tex
          post_compile: |
            mv -v resume.pdf ../public/${{ secrets.RESUME_FILE_NAME }}

      - name: Confirm PDF is there
        run: test -f public/${{ secrets.RESUME_FILE_NAME }}

      - name: Upload Resume to Workflow artifact
        uses: actions/upload-artifact@v4
        with:
          name: Resume
          path: public/
          retention-days: 5
