name: Compile PDF from LaTeX on published release

on:
  release:
    # Only release when release, and not published
    types: [released]

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:
      
jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Set up Git repository
        uses: actions/checkout@v4

      - name: Compile LaTeX document
        uses: xu-cheng/latex-action@v3
        with:
          working_directory: latex
          root_file: resume.tex
          post_compile: |
            mv -v resume.pdf ../public/${{ secrets.RESUME_FILE_NAME }}
  test:
    runs-on: ubuntu-latest
    needs: build
    
    steps:
      - name: Confirm PDF is there
        run: test -f public/${{ secrets.RESUME_FILE_NAME }}
        
  deploy:
    runs-on: ubuntu-latest
    needs: test
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
      
    steps:
      - name: Upload artifact
        uses: actions/upload-pages-artifact@v3
        with:
          # Upload entire repository
          path: public
      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v4
